<!-- 一本旧书-->
<div class="column">
    <div class="ui card hasPubInfoPopupBook">
        <!-- 图书封面图片-->
        <a class="image">
            <img src="{{image}}">
        </a>

        <div class="content">
            <!-- 名称-->
            <a class="header">{{title}}</a>
            <!-- 出版消息-->
            <div class="meta">
                <em>{{price}}</em>
                <em>{{publisher}}/{{pubdate}}</em>
            </div>
            <!-- 主人描述-->
            <div class="description">
                {{des}}
            </div>
        </div>
    </div>

    <!-- 图书出版信息-->
    <div class="ui popup">
        <div class="ui list">
            <div class="item">
                <div class="header">作者</div>
                A lovely city
            </div>
            <div class="item">
                <div class="header">出版社</div>
                Also quite a lovely city
            </div>
            <div class="item">
                <div class="header">出版日期</div>
                Sometimes can be a lovely city
            </div>
            <div class="item">
                <div class="header">页数</div>
                What a lovely city
            </div>
            <div class="item">
                <div class="header">定价</div>
                What a lovely city
            </div>
            <div class="item">
                <div class="header">装帧</div>
                What a lovely city
            </div>
            <div class="item">
                <div class="header">ISBN</div>
                What a lovely city
            </div>
        </div>
    </div>
</div>